{
  "presets": [
    "react",
    ["latest", {"modules": false, "loose": true}],
    "stage-0"
  ],
  "env": {
    "server": {
      "plugins": ["transform-es2015-modules-commonjs"]
    },
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
