.home,
.about
  h2
    color: $black
    max-width: 70%
  h3
    color: $black
.panel-white
  background: $white
.panel-gray
  background: $snow
.panel-maroon
  background: $maroon
.panel-black
  background: $black
.image-panel
  @extend .flex-center
  padding: 50px 0
  img
    width: 50%
    height: auto
    margin: -2px 0
    padding: 0
