.home,
.about
  h2
    color: $black
    max-width: 70%
  h3
    color: $black
.panel-white
  @extend .flex-container
  background: $white
  height: 400px
.panel-white.image-title
  height: 200px
  .panel-gray
    height: 100px
.panel-gray
  @extend .flex-container
  background: $lightgray
  height: 200px
.panel-three
  @extend .flex-container
  background: $white
  height: 400px
