.gallery
  .panel
    @extend .flex-container
    background: $maroon
    padding-top: 200px
    height: 300px
    flex-direction: row
    flex-wrap: wrap
  ul
    padding: 0
  h2,
  h3,
  li
    color: $white
    max-width: 70%
    letter-spacing: 5px
  .flex-container
    flex-direction: row
    a
      padding: 10px
      color: $white
.art,
.photography,
.design
  background: $maroon
  height: 2000px
  width: 100vw
  .image-panel
    background: $maroon
    padding: 50px 0
    width: 100%
  .panel-gray
    height: 70px
    margin: 50px auto
    h2
      color: $black
      letter-spacing: 5px
      padding-top: 5px
  img
    width: 50%
    height: auto
    margin: -2px 0
    padding: 0
  h2,
  h3,
  li
    color: $white
