@import ../../index

.header
  margin-bottom: 150px
  width: 80%
  .header-background
    background: $white
    box-shadow: 3px 0 5px #888
    position: fixed
    // allows mobile devices to function as expected
    transform: translateZ(0)
    width: 100vw
    z-index: 1
  .logo
    height: 100px
    left: -10px
    position: fixed
    z-index: 1
    +mediaQuery($small)
      margin-left: -10px
