@import ../../index.sass

.header
  width: 80%
  li
    a
      color: $dark
  .header-background
    background: $white
    box-shadow: 3px 0 5px #888
    position: fixed
    // allows mobile devices to function as expected
    transform: translateZ(0)
    transition: all 0.3s
    width: 100vw
    z-index: 1
  .nav
    transition: all 0.3s
  .logo
    height: 100px
    padding-left: 33.5px
    position: fixed
    transition: all 0.3s
    z-index: 1
    +mediaQuery($small)
      margin-left: -30px
  ul
    right: 40px
    position: fixed
    z-index: 1
  li
    padding: 0 20px 0 20px
