//
// index.sass holds rules
// Not used in other files
//

@import ./App

a
  text-decoration: none
li
  display: inline-block
.background
  background: url('../public/images/landing.jpeg') no-repeat center center fixed
  background-size: cover
  height: 100vh
  position: absolute
  z-index: -10
  +mediaQuery($smallest)
    background-attachment: scroll
