@font-face
    font-family: 'Daniel'
    src: url('../public/fonts/Daniel.ttf') format('truetype')
    font-weight: normal
    font-style: normal
body
  overflow-x: hidden
a
  text-decoration: none
li
  display: inline-block
.button
  @extend .flex-center
  width: 135px
  height: 45px
  border: 3px solid $black
  background: none
.flex,
.flex-center
  display: flex
  flex-direction: column
  flex-wrap: wrap
  width: 100vw
.flex-center
  align-items: center
  justify-content: center
  text-align: center
