body
  overflow-x: hidden
a
  text-decoration: none
li
  display: inline-block
.flex-container
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 100vw
  text-align: center

.text-shadow
  text-shadow: 2px 2px 4px #000
