$black: rgb(0, 0, 0)
$dark: rgb(37,37,37)
$gray: gray
$light: #d3cabc
$modal: rgba(0, 0, 0, 0.4)
$maroon: rgb(50, 19, 29)
$snow: snow
$white : #fff

$medium  : '1040px'
$small   : '740px'
$smallest: '440px'

$mainFont: 'Daniel'
